/* App.css */

/* Style for the button */
.button {
  background-color: #FFD90F;
  color: #424f46;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style for the background */
.app-background {
  background-color: #70d1fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text within the container */
}
