/* App.css */

/* Style for the button */
.button {
  background-color: #FFD90F;
  color: #424f46;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style for the background */
.app-background {
  background-color: #70d1fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text within the container */
}

/* Style for the character card */
.character-card {
  background-color: #fff; /* Background color for the character card */
  padding: 20px; /* Reduced padding for a shorter card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */
  text-align: center;
  max-width: 300px; /* Adjust the maximum width as needed */
  max-height: 500px; /* Set a maximum height to fit on the screen */
  margin: 20px; /* Add margin for spacing between cards */
  overflow: auto; /* Add overflow to handle content that exceeds the card height */
}




/* Style for the logo image */
.logo {
  width: 400px; /* Adjust the width to make it smaller */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}